{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Hph Store</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/catalog">Headphone</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
