{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">In-ear</a></li>
        <li><a href="#!">On-ear</a></li>
        <li class="divider"></li>
        <li><a href="#!">Over-ear</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Hph store</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Log in</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/cart">Cart</a></li>


            </ul>
        </div>

    </nav>
    {% block javascripts %}
        <script src="{{  asset('assets/materialize/js/materialize.js')}}"></script>
        <script type="text/javascript" src={{ asset('assets/jquery-3.3.1.js') }}></script>
        <script>

            $('.dropdown-trigger').dropdown();
        </script>
    {% endblock %}
{% endblock %}
