{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}


    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">HPH Admin page</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/user">User management</a></li>
                <li><a href="/">Management of goods</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>


{% endblock %}
